/** @format */

@import "tailwindcss";
@theme {
  --color-pink: #f83d8e;
  --color-darkbrown: #0f0200;
  --color-lightbrown: #646464;
  --color-darkpurple: #683292;
  --color-lightpurple: #cfb6e2;
  --color-lightgray: #787878;
  --color-gray: #646464;
  --font-archivo: var(--font-archivo);
  --font-berkshire: var(--font-berkshire-mono);
}
.container {
  @apply w-full max-w-291 px-3 mx-auto;
}

body {
  @apply font-archivo;
}
.heading {
  @apply font-[Berkshire] text-[60px] leading-16;
}
