@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Berkshire+Swash&display=swap");

@import "tailwindcss";

@theme {
  --color-pink: #f83d8e;
  --color-darkbrown: #0f0200;
  --color-lightbrown: #646464;
  --color-darkpurple: #683292;
  --color-lightpurple: #cfb6e2;
  --color-lightgray: #787878;
  --color-gray: #e3e4e5;

  --font-archivo: var(--font-archivo);
  --font-berkshire: var(--font-berkshire-mono);
}
.container {
  @apply w-full max-w-291 px-3 mx-auto;
}

body {
  @apply font-archivo;
}
.heading {
  font-family: "Berkshire Swash", serif;
  @apply text-[60px] leading-16;
}
.bekshire{
   font-family: "Berkshire Swash", serif;
}
